@import "_minix.scss";
@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    .headerTop {
        width: 100%;
        height: pxTorem(50px);
        background: #ccc;
        @include box_flex;
        @include justify(space-between);
        @include align;
        padding: 0 pxTorem(10px);
        @include sizing;
        >.icon {
            font-size: pxTorem(18px);
        }
        .icon:nth-child(1) {
            color: orangered
        }
        .cen {
            @include flex;
            @include box_flex;
            @include align;
            background: #fff;
            margin: 0 pxTorem(10px);
            @include sizing;
            >.icon {
                color: #ccc;
                padding: 0 pxTorem(10px);
                @include sizing;
            }
            input {
                width: 100%;
            }
        }
    }
    .headerList {
        width: 100%;
        @include box_flex;
        li {
            @include flex;
            text-align: center;
        }
    }
}

section {
    width: 100%;
    @include flex;
}

footer {
    width: 100%;
    height: pxTorem(50px);
    background: #ccc;
    @include box_flex;
    @include align;
    dl {
        @include flex;
        text-align: center;
    }
}